E2E_BASE_URL=https://checkout-vdp-uurgvq3b.on-forge.com
E2E_START_SERVER=false
E2E_PORT=8000
E2E_WORKERS=1
E2E_RETRIES=1
E2E_INCLUDE_MOBILE=false

E2E_DEFAULT_DEPARTURE=RIO
E2E_DEFAULT_ARRIVAL=VIX
E2E_DEFAULT_ADULTS=1
E2E_DEFAULT_CHILDREN=0
E2E_DEFAULT_INFANTS=0
E2E_DEFAULT_CABIN=EC
E2E_RESULTS_TIMEOUT_MS=90000

E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=
E2E_CUSTOMER_EMAIL=
E2E_CUSTOMER_PASSWORD=

E2E_CHECKOUT_TOKEN=
E2E_TRACKING_CODE=
E2E_TRACKING_DOCUMENT=
E2E_SUPPORT_TICKET_PATH=

E2E_ENABLE_PURCHASE_FLOW=false
E2E_SUBMIT_PAYMENT=false
E2E_ALLOW_SUPPORT_MUTATIONS=false
